* {
  box-sizing: border-box;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > .dropdown-content {
  display: none;
}

.dropdown:focus-within > .dropdown-content {
  display: block;
}

.dropdown .dropdown-heading {
  display: block;
  border: 1px solid black;
  padding: 5px;
  cursor: pointer; 
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  min-width: 100%;
  background-color: white;
}

.dropdown .dropdown-content > * {
  white-space: nowrap;
  border: 1px solid black;
  display: block;
  padding: 5px;
  cursor: pointer;
}

/* Custom Styling */
.dropdown a {
  border: none;
  padding: 10px;
  text-align: left;
  text-decoration: none;
}